[submodule "ASAP-Updater"]
	path = ASAP-Updater
	url = https://github.com/Yorunokyujitsu/aio-switch-updater
[submodule "ATLAS"]
	path = ATLAS
	url = https://github.com/Yorunokyujitsu/TegraExplorer
[submodule "atmo_logo_creator"]
	path = atmo_logo_creator
	url = https://github.com/Yorunokyujitsu/atmo_logo_creator
[submodule "Atmosphere"]
	path = Atmosphere
	url = https://github.com/Yorunokyujitsu/Atmosphere
