[submodule "ASAP-Updater"]
	path = ASAP-Updater
	url = https://github.com/Yorunokyujitsu/aio-switch-updater
[submodule "ATLAS"]
	path = ATLAS
	url = https://github.com/Yorunokyujitsu/TegraExplorer
[submodule "atmo_logo_creator"]
	path = atmo_logo_creator
	url = https://github.com/Yorunokyujitsu/atmo_logo_creator
[submodule "hb/hbmenu"]
	path = hb/hbmenu
	url = https://github.com/Yorunokyujitsu/nx-hbmenu
[submodule "hb/nx-hbloader"]
	path = hb/nx-hbloader
	url = https://github.com/Yorunokyujitsu/nx-hbloader
[submodule "hekate"]
	path = hekate
	url = https://github.com/Yorunokyujitsu/hekate
[submodule "libnx"]
	path = libnx
	url = https://github.com/switchbrew/libnx
[submodule "programs/homebrews/JKSV"]
	path = programs/homebrews/JKSV
	url = https://github.com/Yorunokyujitsu/JKSV
[submodule "programs/overlays/EdiZon-Overlay"]
	path = programs/overlays/EdiZon-Overlay
	url = https://github.com/Yorunokyujitsu/EdiZon-Overlay
[submodule "programs/overlays/emuiibo"]
	path = programs/overlays/emuiibo
	url = https://github.com/Yorunokyujitsu/emuiibo
[submodule "programs/overlays/FPSLocker"]
	path = programs/overlays/FPSLocker
	url = https://github.com/Yorunokyujitsu/FPSLocker
[submodule "programs/overlays/ovl-sysmodules"]
	path = programs/overlays/ovl-sysmodules
	url = https://github.com/Yorunokyujitsu/ovl-sysmodules
[submodule "programs/overlays/ReverseNX-RT"]
	path = programs/overlays/ReverseNX-RT
	url = https://github.com/Yorunokyujitsu/ReverseNX-RT
[submodule "programs/overlays/Status-Monitor-Overlay"]
	path = programs/overlays/Status-Monitor-Overlay
	url = https://github.com/Yorunokyujitsu/Status-Monitor-Overlay
[submodule "programs/overlays/Ultrahand-Overlay"]
	path = programs/overlays/Ultrahand-Overlay
	url = https://github.com/Yorunokyujitsu/Ultrahand-Overlay
[submodule "programs/sysmodules/MissionControl"]
	path = programs/sysmodules/MissionControl
	url = https://github.com/Yorunokyujitsu/MissionControl
[submodule "programs/sysmodules/sys-con"]
	path = programs/sysmodules/sys-con
	url = https://github.com/Yorunokyujitsu/sys-con
